<% @page_title = "Delete model" %>


<div class="models delete">
  <h2>Delete Model</h2>

  <%= form_for(:model, :url => {:action => 'delete', :id => @model.id}) do |f| %>

    <p>Are you sure you want to permanently delete this Model?</p>

    <p class="reference-name"><%= @model.name %></p>

    <div class="form-buttons">
      <%= submit_tag("Delete model Model", {:action => 'delete', :id => @model.id}) %>
    </div>

  <% end %>
</div>