<h2>Your Photo has been featured!</h2>
<p> Hey #{model.name}, your model submission has been selected to be featured on the Valentinas homepage! Thanks for your review, we hope you and your butt enjoy Valentinas!</p>
<br />
<p>Check out our <%= link_to("Homepage", models_path) %>. </p>
<br />
<p>To view your model page, click here. </p>