<br />
<br />
<h2> About Us [Placeholder]</h2>
<p>Valentinas is a ... </p>

<br />
<br />
<br />

<h2> Shopping Cart Checkout [Placeholder]</h2>
<p> Feature to be implemented </p>

<p><%= link_to("Copyright", admin_session_path, :method=>:post ) %></p>