/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require 'masonry/basic'
 *= require 'masonry/centered'
 *= require 'masonry/fluid'
 *= require 'masonry/gutters'
 *= require 'masonry/infinitescroll'
 *= require 'masonry/right-to-left'
 *= require 'masonry/transitions'
 *= require_self
 */


@import "bootstrap-sprockets";
@import "bootstrap";

body {
		background: #E9E9E9;
		padding-top: 20px;
		padding-left: 20px;
		padding-right: 20px;
		padding-botton: 20px;
		text-align: center;
}


h1, h2, h3, h4, h5, h6 {
		font-weight: 100;
}

nav {
		box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.22);
		.navbar-brand {
				a {
						color: #BD1E23;
						font-weight: bold;
						&:hover {
								text-decoration: none;
						}
				}
		}
}

#jeans {
	margin: 10px auto;
	width: 100%;
	.box {
			margin: 10px auto;
			width: 350px;
			box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.22);
			border-radius: 7px;
			text-align: center;
			img {
				max-width: 150px;
				height: 200px;
			}
			h2 {
				font-size: 22px;
				margin: 0;
				padding: 25px 10px;
				a {
								color: #474747;
				}
			}
			.user {
				font-size: 12px;
				border-top: 1px solid #EAEAEA;
						padding: 15px;
						margin: 0;
			}
		}
}

#edit_page {
		.current_image {
				img {
						display: block;
						margin: 20px 0;
				}
		}
}

#jeans_show {
		.panel-heading {
				padding: 0;
				margin: 0 auto;
		}
		.jean_image {
				img {
					max-width: 100%;
					width: 100%;
					display: block;
					margin: 0 auto;
				}
		}
		.panel-body {
			padding: 35px;
			text-align: center;
			margin: 0 auto;
			h1 {
				margin: 0 0 10px 0;
			}
			.description {
				color: #868686;
				line-height: 1.75;
				margin: 0;
			}
		}
		.panel-footer {
			padding: 20px 35px;
			text-align: center;
			margin: 0 auto;
			p {
				margin: 0;
			}
			.user {
				padding-top: 8px;
			}
		}
}

textarea {
		min-height: 250px;
		margin: 0 auto;
}

#model_index {
	margin: 10px auto;
	width: 100%;
	text-align: center;
	.box {
			margin: 10px;
			width: 350px;
			min-height: 350px;
			box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.22);
			border-radius: 7px;
			text-align: center;
			img {
				max-width: 150px;
				max-height: 200px;
			}
			h2 {
				font-size: 22px;
				margin: 0;
				padding: 25px 10px;
				a {
								color: #474747;
				}
			}
			.user {
				font-size: 12px;
				border-top: 1px solid #EAEAEA;
						padding: 15px;
						margin: 0;
			}
		}
}


.masonry-container {
  padding: 10px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 20px;
  border-radius: 5px;
  float: center;
}

.col1 { height: 420px; width: 280px; }
.col1 img { max-height: 380px; max-width: 400px; }

table.center {
    margin-left:auto; 
    margin-right:auto;
    text-align: left;
}

.footer {
	color: #FFFFFF;
	position: relative;
	bottom: 0;
	width: 98%;
	top: 50px;
}

.center {
	text-align:center;
	margin: 0 auto;
	float: center;
	width: 60%;
	height: 380px;
}

.box {
	text-align: center;
	float: center;
	width: 24.1%;
	height: 400px;
}

.form-group {
	width: 350px;
}

.form-horizontal {
	text-align: center;
	padding: 15px;
}

.form-box {
	width: 350px;
	height: auto;
	margin: 0px auto;
	float: center;
	text-align:left;
	padding: 10px;
}

.textbox {
	width: 300px;
	max-height: 100px;
}

.formbox {
	width: 300px;
}

.imgr {
	float: left;
	position: relative;
	width: 50%;
	height: auto;
}

.showr {
	text-align: left;
	width: 40%;
	height: 300px;
	float: right;
	position: relative;
}

.signer {
	text-align: left;
	float: center;
	horizontal-align: middle;
	margin-right: 42%;
	margin-left: 42%;
}

